<div class="centeredElements">
    <div class="centralLogo">
        <img class="logoImg" src="/img/vegaLogo.png">
        <h3 class "centralLogoText">This is the VegaTech admin interface. Use it to manage supplier and materials</h3>
    </div>
    <div class="acessButtonsContainer">
        <a class='acessButton' href="/supplier"><button>Supplier Registration</button></a>
        <a class='acessButton' href="/material"><button>Material Registration</button></a>
    </div>
</div>