<form action="/supplier/create/add" method="post">
    <div class="registerContainer">
        <p>Name</p>
        <input type="text" name="Name">
        <p>CNPJ:</p>
        <input type="text" name="CNPJ">
        <p>ZipCode:</p>
        <input type="text" name="ZipCode">
        <p></p>
        <button type="submit">Register</button>
    </div>
</form>